name: flutter_flame_demo
description: "Game Demo by Flame"
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.5.4
  flutter: ^3.13.0

dependencies:
  flutter:
    sdk: flutter
  flame: ^1.22.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
flutter:
  uses-material-design: true
  assets:
    - assets/images/
